* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.section-1, .section-2 {
    padding: 0 300px;
}

.section-1 {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.section-1 .subtext, .section-1 li, .section-1 .placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
}

.section-1 button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 6px 24px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;
}

.section-1 ul {
    list-style: none;
    display: flex;
}

.section-1 li {
    margin-left: 24px;
}

.hero-content {
    display: flex;
    padding-bottom: 100px;
    gap: 50px;
}

.hero-content-left {
    padding-right: 10px;
    flex: 1;
}

.hero-content-right {
    background-color: rgb(141, 141, 141);
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 32px 0;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.info-child {
    text-align: center;
    flex: 0 0 auto;
    width: 150px;
    color: rgb(90, 90, 90);
}

.info-box {
    border: 5px solid #3882F6;
    border-radius: 20px;
    height: 140px;
    width: 140px;
    margin-bottom: 10px;
}